#contact {
    text-align: center;
    padding: 2rem;
  }

  .contact-icons {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  .icon {
    font-size: 2.5rem;
    /* color: #333; */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .icon:hover {
    color: #007BFF;
    transform: scale(1.1);
  }

  .icon.instagram:hover {
    color: #E1306C;
  }

  .icon.telegram:hover {
    color: #0088cc;
  }

  .icon.github:hover {
    color: #000000;
  }

  .icon.linkedin:hover {
    color: #0077B5;
  }
  .icon.email:hover {
    color: #d43737;
  }

  .icon.medium:hover {
    color: #706b6b;
  }
  @media (max-width: 768px) {
    .contact-icons {

      gap: 1rem;
      margin-top: 1rem;
    }

  }