
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
  scroll-behavior: smooth;
  scrollbar-width: thin;

}

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #cbdcf09a;
  --link-hover-color: hsla(32, 52%, 80%, 0.664);
  --color: #333;
  --sidebar-color: #e2dbd5;
  --sidebar-text-color: #323232;
}


body.dark {
  --background-color: #202020;
  --text-color: #ffffff;
  --link-color: #1E90FF;
  --link-hover-color: #85909e77;
  --color: hsl(0, 0%, 89%);
  --sidebar-color: #3b3b3b;
  --sidebar-text-color: #fafafa;


}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);

}


.main-content {
  margin-left: 80px;
  padding: 2rem;
  transition: margin-left 0.3s ease;
}



@media (max-width: 480px) {
  .main-content {
    margin-left: 0;
    padding: 1rem;
  }
}

#about{
  margin-top: 50px;
}

section {
  padding: 2rem;
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  background: var(--background-color);
  color: var(--text-color);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  width: 300px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.intro{
  text-align: center;
  margin-top: 5%;
  font-family: "Rubik" !important;
}

.icon {
  color: var(--color);
}

.sidebar {
  background-color: var(--sidebar-color);
  color: var(--sidebar-text-color);
}

.sidebar nav ul li a{
  color: var(--sidebar-text-color);
  
}
.sidebar nav ul li a:hover {
  border-radius: 70px;
  background-color: var(--link-hover-color);
}


