
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./poppins.css');



body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #cbdcf09a;
  --link-hover-color: hsla(32, 52%, 80%, 0.664);
  --color: #333;
  --sidebar-color: #e2dbd5;
  --sidebar-text-color: #323232;

  background-color:hsla(145,0%,100%,1);
background-image:
radial-gradient(at 28% 21%, hsla(540,19%,78%,1) 0px, transparent 50%),
radial-gradient(at 72% 40%, hsla(3030,83%,78%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(100,40%,83%,1) 0px, transparent 50%),
radial-gradient(at 99% 94%, hsla(0,7%,76%,1) 0px, transparent 50%),
radial-gradient(at 100% 0%, hsla(0,19%,76%,1) 0px, transparent 50%),
radial-gradient(at 69% 64%, hsla(0,4%,73%,1) 0px, transparent 50%),
radial-gradient(at 95% 90%, hsla(2660,89%,73%,1) 0px, transparent 50%);
background-size: cover; /* Ensures the background covers the entire area */
  background-repeat:unset; /* Prevents the background from repeating */
  background-position: center;
  background-attachment: fixed;
 }


body.dark {

  --background-color: #202020;
  --text-color: #ffffff;
  --link-color: #1E90FF;
  --link-hover-color: #85909e77;
  --color: hsl(0, 0%, 89%);
  --sidebar-color: #3b3b3b;
  --sidebar-text-color: #fafafa;

  background-color:hsla(293,0%,0%,1);
background-image:
radial-gradient(at 7% 53%, hsla(2660,3%,8%,1) 0px, transparent 50%),
radial-gradient(at 99% 100%, hsla(0,24%,58%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(2680,8%,37%,1) 0px, transparent 50%),
radial-gradient(at 62% 5%, hsla(0,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 92% 6%, hsla(610,56%,45%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(0,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 71% 0%, hsla(0,2%,16%,1) 0px, transparent 50%);
  background-size: cover; /* Ensures the background covers the entire area */
  background-repeat:no-repeat; /* Prevents the background from repeating */
  background-position: center;
  background-attachment: fixed;

}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);

}
h2{

  font-family: "Poppins", sans-serif;
  font-weight: 400;

}


.main-content {
  margin-left: 80px;
  border: 0;
  padding: 0;
  padding: 2rem;
  transition: margin-left 0.3s ease;
  margin-bottom: 1%;
}



@media (max-width: 480px) {
  .main-content {
    margin-left: 0;
    padding: 1rem;
  }
}

#about{
  margin-top: 15px;
  margin-left: 120px;
}
#about h2{
  margin-left: -6%;

}
#about p{
  margin-right: -5%;
}
#project{
  margin-top: 0px;
}

section {
  padding: 2rem;
  text-align: center;
  margin-top: 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  background: var(--background-color);
  color: var(--text-color);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  width: 300px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.intro{
  margin-left: 40%;
  margin-top: 5%;
  font-family: "Poppins" !important;
  font-weight: 500;

}
@media (max-width: 748px) {
  .intro{
    font-size: 1.5rem;
    margin-left: 15%;
    margin-top: 27%;
  }

}

.icon {
  color: var(--color);
}

.sidebar {
  background-color: var(--sidebar-color);
  color: var(--sidebar-text-color);
}

.sidebar nav ul li a{
  color: var(--sidebar-text-color);

}
.sidebar nav ul li a:hover {
  border-radius: 70px;
  background-color: var(--link-hover-color);
}



